<div class="admin-container">
    <h2>Admin Page</h2>
    <form (ngSubmit)="submitAdminForm()">
      <div class="form-group">
        <label for="adminUsername">Admin Username</label>
        <input type="text" id="adminUsername" name="adminUsername" [(ngModel)]="adminUsername" required>
      </div>
      <div class="form-group">
        <label for="adminPassword">Admin Password</label>
        <input type="password" id="adminPassword" name="adminPassword" [(ngModel)]="adminPassword" required>
      </div>
      <button (click)="redirectToAdminWelcome()">Go to Admin Welcome Page</button>

    </form>
  </div>
  
