.profile-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
  }
  
  .profile-details {
    background-color: #f9f9f937;
    padding: 20px;
    border-radius: 5px;
  }
  
  p {
    margin: 5px 0;
    color: #666;
  }
  
  strong {
    font-weight: bold;
  }
  body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    background-image: url('pexels-hilary-halliwell-1084165.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}  