<div class="background-container" style="background-image: url('pexels-hilary-halliwell-1084165.jpg'); background-size: cover; background-position: center; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="profile-container">
    <h2 style="font-size: larger; color: white;">Profile</h2>
    <div class="profile-details">
      <p style="font-size: larger; color: white;"><strong>Username:</strong> </p>
      <p style="font-size: larger; color: white;"><strong>Full Name:</strong> </p>
    </div>
  </div>
  