<div class="admin-welcome-container">
    <h2>Welcome to our Pet Adoption Platform!</h2>
    <nav class="navbar">
      <a routerLink="/pets" routerLinkActive="active">Pets</a>
      <a routerLink="/adoption-centers" routerLinkActive="active">Adoption Centers</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <button (click)="edit()">Edit</button> <!-- Add Edit button in the navigation bar -->
    </nav>
    <p>Find your new best friend and make a difference in their life.</p>
    <blockquote>
      "Saving one animal will not change the world, but for that one animal, the world will change forever."
      <footer>- Unknown</footer>
    </blockquote>
    <router-outlet></router-outlet>
  </div>
  