<div class="background-container" style="background-image: url('pets_image.jpeg'); background-size: cover; background-position: center; height: 100vh; display: flex; align-items: center; justify-content: center;">
<div class="pets-container">
  <div class="pet" *ngFor="let pet of pets">
    <img [src]="pet.image_path" alt="Pet">
    <div class="description">
      <h3>{{ pet.name }}</h3>
      <p><strong>Availability:</strong> {{ pet.availability }}</p>
      <p><strong>Location:</strong> {{ pet.location }}</p>
      <p><strong>Vaccination Info:</strong> {{ pet.vaccinationInfo }}</p>
    </div>
  </div>
</div>
